<div class="mccan-content-wrap clearfix">
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">O Mnie</h3>
    <h2 class="mccan-title">Doświadczenie</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <ul class="mccan-timeline">
            <li>
              <div class="mccan-timeline-content"><span class="mccan-timeline-date">2014 - OBECNIE</span>
                <h5>SMART DESIGN DAMIAN LEW</h5>
                <h4>CEO</h4>
                <ul>
                  <li>Optymalizacja stron www i sklepów pod kątem wyszukiwarek,</li>
                  <li>Realizacja kampanii link-buildingowych i content-marketingowych,</li>
                  <li>Budowa oraz bieżąca obsługa sklepów internetowych i stron www,</li>
                  <li>Wykorzystanie narzędzia ZennoPoster do automatyzacji zadań,</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">O Mnie</h3>
    <h2 class="mccan-title">Edukacja</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <ul class="mccan-timeline">
            <li>
              <div class="mccan-timeline-content"><span class="mccan-timeline-date">2012 - 2013</span>
                <h5>POLITECHNIKA RZESZOWSKA - Wydział Budowy Maszyn i Lotnictwa</h5>
                <h4>Automatyka i Robotyka (II-Stopień)</h4>
                <p>Specjalizacja: "Informatyka i Robotyka".</p>
              </div>
            </li>
            <li>
              <div class="mccan-timeline-content"><span class="mccan-timeline-date">2009 - 2012</span>
                <h5>POLITECHNIKA RZESZOWSKA - Wydział Budowy Maszyn i Lotnictwa</h5>
                <h4>Automatyka i Robotyka (I-Stopień)</h4>
                <p>Specjalizacja: "Informatyka i Robotyka".</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">O Mnie</h3>
    <h2 class="mccan-title">Zainteresowania</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <ul class="mccan-timeline">
            <li>
              <div class="mccan-timeline-content">
                <p>Wspinaczka</p>
              </div>
            </li>
            <li>
              <div class="mccan-timeline-content">
                <p>Sport Walki</p>
              </div>
            </li>
            <li>
              <div class="mccan-timeline-content">
                <p>Ski-Touring</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
