<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <h3 class="mccan-title-small">Angular App</h3>
      <h2 class="mccan-title">DamianLew.pl</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="mccan-media">
                <img src="./assets/images/damianlew-angular-project-1.png" alt="">
              </div>
              <header class="mccan-header">
                <div class="excerpt">
                  <p>
                    Prywatne portfolio wykonane z wykorzystaniem frameworka Angular 9.
                  </p>
                  <br />
                  <div class="mccan-list">
                    <ul>
                      <li><strong>Projekt :</strong> DamianLew.pl
                      <li><strong>Technologia :</strong> Angular 9</li>
                      <li><strong>GitHub :</strong> https://github.com/DamianLew23/Portfolio</li>
                      <li><strong>Live :</strong> https://damianlew.pl</li>
                      <li><strong>Zrealizowane Prace :</strong>
                        <br/>- Wdożenie projektu w oparciu o szablon Mccan,
                      </li>
                    </ul>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">DAMIANLEW.PL</h3>
      <h2 class="mccan-title">Przykładowe Podstrony</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/damianlew-angular-project-2.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/damianlew-angular-project-3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
