<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <h3 class="mccan-title-small">Angular App</h3>
      <h2 class="mccan-title">DobierzFalownik.pl - Front-End</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="mccan-media">
                <img src="./assets/images/dobierzfalownik-angular-project-1.png" alt="">
              </div>
              <header class="mccan-header">
                <div class="excerpt">
                  <p>
                    Aplikacja internetowo umożliwiająca dobór falowników z oferty sklepu internetowego klienta
                    na podstawie określonych parametrów takich jak: napięcie zasilania, napięcie wyjściowe,
                    moc falownika, prąd wyjściowy lub stopień ochrony obudowy IP.
                  </p>
                  <p>
                    Prezentowana aplikacja składa się z części użytkownika (pozwalającej na filtrowanie falowników,
                    wyświetlanie informacji na ich temat oraz przejście po kliknięciu odnośnika do sklepu klienta) oraz
                    części administratora umożliwiającej dodawanie falowników, ich edycję oraz usówanie modeli wycofanych
                    z oferty.
                  </p>
                  <p>
                    Dostęp do części administracyjnej możliwy jest wyłącznie po zalogowaniu. W celu autoryzacji
                    użytkownika program wykorzystuje mechanizm "Json Web Token - JWT".
                  </p>
                  <br />
                  <div class="mccan-list">
                    <ul>
                      <li><strong>Projekt :</strong> DobierzFalownik.pl - Front-End
                      <li><strong>Technologia :</strong> Angular 9, Material Design, API, JWT, Routing</li>
                      <li><strong>GitHub :</strong> https://github.com/DamianLew23/DobierzFalownik-Angular</li>
                      <li><strong>Live :</strong> https://dobierzfalownik.pl</li>
                    </ul>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">DOBIERZFALOWNIK.PL - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Część Użytkownika</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-2.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">DOBIERZFALOWNIK.PL - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Strona Logowania</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">DOBIERZFALOWNIK.PL - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Część Administratora</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-5.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-6.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-7.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-8.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/dobierzfalownik-angular-project-9.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
