<!-- My Info -->
<div class="mccan-my-info">
  <div class="mccan-box">
    <div class="field field-my-info field-separator">
      <h6>Adres</h6>
      <p>Rzeszów, PL</p>
    </div>
    <div class="field field-my-info field-separator">
      <h6>E-Mail</h6>
      <p>dlew8912@gmail.com</p>
    </div>
    <div class="field field-my-info field-separator">
      <h6>Telefon</h6>
      <p>+48 783 117 853</p>
    </div>
    <div class="clear"></div>
    <button type="submit" class="button-color"><span class="ti-download"></span> POBIERZ CV</button>
  </div>
</div>
