<div id="mccan-site-menu">
  <nav class="mccan-nav-menu">
    <ul>
      <li class="mccan-menu-item" routerLinkActive="current-mccan-menu-item"><a routerLink="/home" >Strona Główna</a></li>
      <li class="mccan-menu-item" routerLinkActive="current-mccan-menu-item"><a routerLink="/o-mnie">O Mnie</a></li>
      <li class="mccan-menu-item" routerLinkActive="current-mccan-menu-item"><a routerLink="/portfolio">Portfolio</a></li>
<!--      <li class="mccan-menu-item" routerLinkActive="current-mccan-menu-item"><a routerLink="/oferta">Oferta</a></li>-->
      <li class="mccan-menu-item" routerLinkActive="current-mccan-menu-item"><a routerLink="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</div>
<div class="mccan-menu-overlay"></div>
<div class="mccan-site-menu-toggle">
  <a href="about.html#mccan-site-menu" class="mccan-ti"> <span class="screen-reader-text">Toggle navigation</span> </a>
</div>
