<div id="mccan-site-menu">
  <nav class="mccan-nav-menu">
    <ul>
      <li class="mccan-menu-item current-mccan-menu-item"><a href="index.html">Home</a></li>
      <li class="mccan-menu-item"><a href="resume.html">Resume</a></li>
      <li class="mccan-menu-item"><a href="portfolio.html">Portfolio</a></li>
      <li class="mccan-menu-item"><a href="blog.html">Blog</a></li>
      <li class="mccan-menu-item"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="mccan-menu-overlay"></div>
<div class="mccan-site-menu-toggle">
  <a href="about.html#mccan-site-menu" class="mccan-ti"> <span class="screen-reader-text">Toggle navigation</span> </a>
</div>
