<div class="mccan-additional-menu-content">
  <h3 class="mccan-title-small">Web Designer</h3>
  <h2 class="mccan-title-2">Rory McCann</h2> <img src="images/200x200.jpg" alt="">
  <p>Hi, My name is Rory McCann. I am a Web Designer, and etiam accumsan scelerisque rhoncus. Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor consectetur.</p> <a href="#" class="btn float-btn flat-btn ajax">Hire Me</a>
  <div class="divider2"></div>
  <h3 class="mccan-title-small">@rorymccan</h3>
  <h2 class="mccan-title-2">Instagram</h2>
  <div class="sb-widget fl-wrap">
    <div class="mccan-insta-thumb">
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
    </div>
  </div>
</div>
