<div id="mccan-social-profiles">
  <nav class="mccan-social-menu">
    <ul>
      <li class="mccan-menu-item"><a href="https://www.linkedin.com/in/damian-lew/" target="_blank" rel="nofollow"><span class="mccan-ti"></span></a></li>
      <li class="mccan-menu-item"><a href="https://github.com/DamianLew23" target="_blank" rel="nofollow"><span class="ti-github"></span></a></li>
      <li class="mccan-menu-item"><a href="https://www.behance.net/damianlew" target="_blank" rel="nofollow"><span class="ti-image"></span></a></li>
    </ul>
  </nav>
</div>
