<header id="mccan-identity">
  <!-- Logo -->
  <div class="logo">
    <a href="index.html" class="mccan-logo-link" rel="home"> <img src="images/logo.png" class="mccan-logo" alt=""> </a>
  </div>
</header>
<!-- Menu -->
<div id="mccan-site-menu">
  <nav class="mccan-nav-menu">
    <ul>
      <li class="mccan-menu-item current-mccan-menu-item"><a href="index.html">Home</a></li>
      <li class="mccan-menu-item"><a href="resume.html">Resume</a></li>
      <li class="mccan-menu-item"><a href="portfolio.html">Portfolio</a></li>
      <li class="mccan-menu-item"><a href="blog.html">Blog</a></li>
      <li class="mccan-menu-item"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="mccan-menu-overlay"></div>
<div class="mccan-site-menu-toggle">
  <a href="about.html#mccan-site-menu" class="mccan-ti"> <span class="screen-reader-text">Toggle navigation</span> </a>
</div>
<!-- Social Media -->
<div id="mccan-social-profiles">
  <nav class="mccan-social-menu">
    <ul>
      <li class="mccan-menu-item"><a href="http://facebook.com" target="_blank"><span class="mccan-ti"></span></a></li>
      <li class="mccan-menu-item"><a href="http://twitter.com" target="_blank"><span class="mccan-ti"></span></a></li>
      <li class="mccan-menu-item"><a href="http://instagram.com" target="_blank"><span class="mccan-ti"></span></a></li>
    </ul>
  </nav>
</div>
<!-- Media -->
<div class="mccan-hero-media">
  <div class="owl-carousel" data-expand-duration="800">
    <div class="item owl-lazy" data-src="images/1920x1080.jpg"></div>
  </div> <span class="overlay"></span> <span class="mccan-ti mccan-ti-spin mccan-ti-loading"></span>
</div>
<!-- Content -->
<div class="mccan-content-wrap clearfix">
  <!-- About Me -->
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Web Designer</h3>
    <h2 class="mccan-title">Rory McCann</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <p>Hi, My name is Rory McCann. I am a Web Designer, and etiam accumsan scelerisque rhoncus. Nulla quis laorey velit. Pelteqle quisu velleopha retra congue. Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor sit the cons eturadip liscing elit. Donec hendrerit dui sapien coner the consequat erose viverra at.</p>
          <p>Quality quis laorey velit. Pelteqle quisu velleopha retra congue. Nulla quis laoreet velit. Pelteqle quisu velleopha retra conue. Lorem ipsum dolor sit amet consect liscing elit. Donec hendrerit dui sapien coner the velit pelteqle.</p>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-list">
                <ul>
                  <li><strong>Birthday :</strong> 15 April 1990</li>
                  <li><strong>Website :</strong> www.mccan.com</li>
                  <li><strong>Phone :</strong> +1 123 000 4444</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-list">
                <ul>
                  <li><strong>Degree :</strong> Master</li>
                  <li><strong>Mail :</strong> info@mccan.com</li>
                  <li><strong>Linkedin :</strong> /rorymccan.com</li>
                </ul>
              </div>
            </div>
          </div> <a href="#" class="btn float-btn flat-btn ajax">Hire Me</a>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <!-- Services -->
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">What I Do</h3>
    <h2 class="mccan-title">Services</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-telescope font-30px"></span></div>
                <div class="tono-text">
                  <h3>Web Desing</h3>
                  <p>Vestibulum varius the massa non nisl palace drana maximus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-lightbulb font-30px"></span> </div>
                <div class="tono-text">
                  <h3>Development</h3>
                  <p>Vestibulum varius the massa non nisl palace drana maximus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-puzzle font-30px"></span></div>
                <div class="tono-text">
                  <h3>Graphic Desing</h3>
                  <p>Vestibulum varius the massa non nisl palace drana maximus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-mobile font-30px"></span> </div>
                <div class="tono-text">
                  <h3>Mobile Design</h3>
                  <p>Vestibulum varius the massa non nisl palace drana maximus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testiominals -->
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <div id="testimonial" class="testimonial-section">
        <ul id="testimonial-carousel" class="testimonial-items owl-carousel">
          <li class="testimonial-item">
            <p>Quality quis laorey velit. Pelteqle quisu velleopha retra congue.
              <br />Nulla quis laoreet velit. Pelteqle quisu retra conue.</p>
            <figure> <img src="images/100x100.jpg" alt=""> </figure>
            <h4>Emma Laure</h4>
          </li>
          <li class="testimonial-item">
            <p>Quality quis laorey velit. Pelteqle quisu velleopha retra congue.
              <br />Nulla quis laoreet velit. Pelteqle quisu retra conue.</p>
            <figure> <img src="images/100x100.jpg" alt=""> </figure>
            <h4>Donald Brown</h4>
          </li>
          <li class="testimonial-item">
            <p>Quality quis laorey velit. Pelteqle quisu velleopha retra congue.
              <br />Nulla quis laoreet velit. Pelteqle quisu retra conue.</p>
            <figure> <img src="images/100x100.jpg" alt=""> </figure>
            <h4>White Rose</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="mccan-copyright">
    <p>&copy; 2019 <a href="index.html">McCan</a>. All Rights Reserved.</p>
  </div>
</div>
<!-- Hidden Menu -->
<div class="mccan-additional-menu-content">
  <h3 class="mccan-title-small">Web Designer</h3>
  <h2 class="mccan-title-2">Rory McCann</h2> <img src="images/200x200.jpg" alt="">
  <p>Hi, My name is Rory McCann. I am a Web Designer, and etiam accumsan scelerisque rhoncus. Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor consectetur.</p> <a href="#" class="btn float-btn flat-btn ajax">Hire Me</a>
  <div class="divider2"></div>
  <h3 class="mccan-title-small">@rorymccan</h3>
  <h2 class="mccan-title-2">Instagram</h2>
  <div class="sb-widget fl-wrap">
    <div class="mccan-insta-thumb">
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
      <a href="#"><img src="images/200x200.jpg" alt=""></a>
    </div>
  </div>
</div>
<!-- My Info -->
<div class="mccan-my-info">
  <div class="mccan-box">
    <div class="field field-my-info field-separator">
      <h6>Location</h6>
      <p>California, USA</p>
    </div>
    <div class="field field-my-info field-separator">
      <h6>E-Mail</h6>
      <p>info@mccan.com</p>
    </div>
    <div class="field field-my-info field-separator">
      <h6>Phone</h6>
      <p>+1 123 000 4444</p>
    </div>
    <div class="clear"></div>
    <button type="submit" class="button-color"><span class="ti-download"></span> DOWNLOAD CV</button>
  </div>
</div>
<!-- Js -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/modernizr-custom.js"></script>
<script src="assets/js/owl-carousel.min.js"></script>
<script src="assets/js/functions.js"></script>
