<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <h3 class="mccan-title-small">WORDPRESS</h3>
      <h2 class="mccan-title">PoradyZakupowe.pl</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="mccan-media">
                <img src="./assets/images/poradyzakupowe-wordrpess-project-1.png" alt="">
              </div>
              <header class="mccan-header">
                <div class="excerpt">
                  <p>Strona PoradyZakupowe.pl udostępnia rankingi mające na celu ułatwić wybrów najopowiedniejszego produktu dla potrzeb klienta.</p>
                  <p>Dostępne na stronie rankingi zostały podzielone z uwzględnieniem cech wyszukiwanych produktów oraz ich cen,
                    dzięki czemu użytkownik jest w stanie znaleźć produkt spełniający jego oczekiwania, dostępny w konkretnym przedziale cenowym.</p>
                  <br />
                  <div class="mccan-list">
                    <ul>
                      <li><strong>Projekt :</strong> PoradyZakupowe.pl
                      <li><strong>Technologia :</strong> Wordpress</li>
                      <li><strong>Zrealizowane Prace :</strong>
                        <br/>- Wdożenie projektu w oparciu o szablon Avada Theme,
                        <br/>- Optymalizacja SEO,
                        <br/>- Optymalizacja prędkości ładowania strony,
                        <br/>- Dodawania rankingów produktów,
                      </li>
                      <li><strong>Live :</strong> https://poradyzakupowe.pl</li>
                    </ul>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">PORADYZAKUPOWE.PL</h3>
      <h2 class="mccan-title">Przykładowe Podstrony</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-wordrpess-project-2.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-wordrpess-project-3.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-wordrpess-project-4.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-wordrpess-project-5.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
