<div class="mccan-content-wrap clearfix">
  <!-- About Me -->
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Full-Stack Developer</h3>
    <h2 class="mccan-title">Damian Lew</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <p>Cześć, Nazywam się Damian, od ponad 6 lat zawodowo zajmuję się marketingiem internetowym oraz budową stron i sklepów internetowych.
            Dotychczas w realizowanych pojektach wykorzystywałem głównie popularne systemy CMS takie jak Wordpress czy Joomla (w przypadku stron WWW) oraz PrestaShop, WooCommerce i OpenCart (w przypadku sklepów internetowych).</p>
          <p>W ostatnim czasie natomiast swoją uwagę skupiam na rozwoju jako FullStack Developer pracujący z następującym stackiem technologicznym: backend - Java, frontend: - Angular.</p>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-list">
                <ul>
                  <li><strong>Mail :</strong> dlew8912@gmail.com</li>
                  <li><strong>Phone :</strong> +48 783 117 853</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-list">
                <ul>
                  <li><strong>GitHub :</strong> /DamianLew23</li>
                  <li><strong>Linkedin :</strong> /damian-lew</li>
                </ul>
              </div>
            </div>
          </div> <a href="#" class="btn float-btn flat-btn ajax">Wyślij Wiadomość</a>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <!-- Services -->
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Wykorzystywane Technologie</h3>
    <h2 class="mccan-title">Umiejętności</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-telescope font-30px"></span></div>
                <div class="tono-text">
                  <h3>Back-End Development</h3>
                  <p>Java, Spring, Spring Boot, Spring Security, REST Api.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-lightbulb font-30px"></span> </div>
                <div class="tono-text">
                  <h3>Front-End Development</h3>
                  <p>TypeScript, Angular 8/9, Angular Material Desing.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-puzzle font-30px"></span></div>
                <div class="tono-text">
                  <h3>Web Design</h3>
                  <p>HTML5, CSS3, Bootstrap, Wordpress CMS.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mccan-feature feature-left">
                <div class="tono-icon"> <span class="et-mobile font-30px"></span> </div>
                <div class="tono-text">
                  <h3>SEO</h3>
                  <p>Optymalizacja SEO, Audyty SEO, Link Building.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
