<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">NAPISZ DO MNIE</h3>
    <h2 class="mccan-title">Kontakt</h2>
    <div class="mccan-content">
      <br />
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <div class="mccan-list">
                <ul>
                  <li><strong>Adres :</strong> Rzeszów, PL</li>
                  <li><strong>Telefon :</strong> +48 783 117 853</li>
                  <li><strong>Email :</strong> dlew8912@gmail.com</li>
                  <li><strong>Linkedin :</strong> /damian-lew</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <form>
                <div class="message d-none">
                  <div class="alert notice"></div>
                </div>
                <label for="name" class="screen-reader-text">Imię:</label>
                <input type="text" name="name" id="name" placeholder="IMIĘ *" required="">
                <label for="email" class="screen-reader-text">Email</label>
                <input type="email" name="email" id="email" placeholder="EMAIL *" required="">
                <label for="message" class="screen-reader-text">WIADOMOŚĆ</label>
                <textarea name="message" id="message" cols="30" rows="6" placeholder="WIADOMOŚĆ *" required=""></textarea>
                <input type="submit" class="btn float-btn flat-btn ajax" value="WYŚLIJ">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
