<div class="mccan-content-wrap clearfix">
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Blog</h3>
    <h2 class="mccan-title">LATEST NEWS</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <article class="mccan-post">
              <div class="mccan-media">
                <a href="post.html"> <img src="images/1920x1080.jpg" alt=""> </a>
              </div>
              <header class="mccan-header">
                <h4><a href="post.html">Pelteqle Quisu</a></h4>
                <div class="meta-data"> <span class="meta-date"><a href="post.html">28 Dec 2019</a></span> <span class="meta-comments"><a href="post.html">3 Comments</a></span> </div>
                <div class="excerpt">
                  <p>Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit dui sapien coner consequat erose viverra at. Vivamus aliquam semper orci, ut sodales est mollis eget. Sed vel nisi a odio scelerisque rutrum a ornare massa. Maecen tincidunt enim vel vestibulum pellentesque...</p> <a href="post.html" class="btn float-btn flat-btn ajax">Read more </a>
                </div>
              </header>
            </article>
            <article class="mccan-post">
              <div class="mccan-media">
                <a href="post.html"> <img src="images/1920x1080.jpg" width="1200" height="520" alt=""> </a>
              </div>
              <header class="mccan-header">
                <h4><a href="post.html">Vivamus Ornare</a></h4>
                <div class="meta-data"> <span class="meta-date"><a href="post.html">26 Dec 2019</a></span> <span class="meta-comments"><a href="post.html">3 Comments</a></span> </div>
                <div class="excerpt">
                  <p>Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit dui sapien coner consequat erose viverra at. Vivamus aliquam semper orci, ut sodales est mollis eget. Sed vel nisi a odio scelerisque rutrum a ornare massa. Maecen tincidunt enim vel vestibulum pellentesque...</p> <a href="post.html" class="btn float-btn flat-btn ajax">Read more </a>
                </div>
              </header>
            </article>
            <article class="mccan-post">
              <div class="mccan-media">
                <a href="post.html"> <img src="images/1920x1080.jpg" alt=""> </a>
              </div>
              <header class="mccan-header">
                <h4><a href="post.html">Sodales Hendrerit</a></h4>
                <div class="meta-data"> <span class="meta-date"><a href="post.html">24 Dec 2019</a></span> <span class="meta-comments"><a href="post.html">3 Comments</a></span> </div>
                <div class="excerpt">
                  <p>Nulla quis laoreet velit. Pelteqle quisu velleopha retra congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit dui sapien coner consequat erose viverra at. Vivamus aliquam semper orci, ut sodales est mollis eget. Sed vel nisi a odio scelerisque rutrum a ornare massa. Maecen tincidunt enim vel vestibulum pellentesque...</p> <a href="post.html" class="btn float-btn flat-btn ajax">Read more </a>
                </div>
              </header>
            </article>
            <ul class="mccan-pagination-wrap align-center mt-30">
              <li><a href="blog.html#"><i class="ti-arrow-left"></i></a></li>
              <li><a href="blog.html#">1</a></li>
              <li><a href="blog.html#" class="active">2</a></li>
              <li><a href="blog.html#">3</a></li>
              <li><a href="blog.html#"><i class="ti-arrow-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
