<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <h3 class="mccan-title-small">Angular App</h3>
      <h2 class="mccan-title">PoradyZakupowe - Front-End</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="mccan-media">
                <img src="./assets/images/poradyzakupowe-angular-project-3.png" alt="">
              </div>
              <header class="mccan-header">
                <div class="excerpt">
                  <p>
                    Aplikacja internetowo umożliwiająca pobieranie danych o produktach z API programu partnerskiego,
                    a następnie pozwalająca na generowanie na podstawie pobranych danych rankingów produktów
                    dla strony PoradyZakupowe.pl.
                  </p>
                  <p>
                    Prezentowana aplikacja składa się jedynie z części administratora, w której osoba zarządzająca ma
                    następujące możliwości:
                  </p>
                  <div class="mccan-list">
                  <ul>
                    <li>
                      Dodawanie odpowiednich kategorii produktów i pobierania danych o produktach z tej kategorii
                      z bazy programu partnerskiego (obecnie z programu Moneteasy.pl, który udostępnie QraphQL API),
                    </li>
                    <li>
                      Budowę i edycję hierarchi kategorii,
                    </li>
                    <li>
                      Filtrowanie produktów dodanych do bazy wg. kategorii, producenta, ceny, oferowanych funkcji, a
                      następnie dodawanie produktów do wybranego rankingu,
                    </li>
                    <li>
                      Ustawianie kolejności produktów w ranking, dodawanie oraz edycję "stałych" elementów rankingu,
                    </li>
                    <li>
                      Generowanie rankingów w opraciu o zbudowany szablon Thymeleaf,
                    </li>
                  </ul>
                  </div>
                  <p>
                    Zaprojektowana aplikacja w obecnej wersji ponadto integruje się z API Wordpress'a co umożliwia
                    automatyczne dodawanie wygenerowanych rankingów i przesyłanie grafik na stronę PoradyZakupowe.pl
                  </p>
                  <br />
                  <div class="mccan-list">
                    <ul>
                      <li><strong>Projekt :</strong> PoradyZakupowe - Front-End - Panel Administratora
                      <li><strong>Technologia :</strong> Angular 9, Material Design, API, Routing</li>
                      <li><strong>GitHub :</strong> Kod aplikacji udostępnie zainteresowanym.</li>
                    </ul>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">PORADYZAKUPOWE - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Strona Kategorii</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-1.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-6.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">PORADYZAKUPOWE - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Baza Produktów</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">PORADYZAKUPOWE - PRZYKŁADOWE PODSTRONY</h3>
      <h2 class="mccan-title">Generator Rankingów</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-3.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-4.png" alt="">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mccan-media">
                    <img src="./assets/images/poradyzakupowe-angular-project-5.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
