<div class="mccan-content-wrap clearfix">
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Przykładowe Realizacje</h3>
    <h2 class="mccan-title">Java</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <a class="desc">
                <div class="project"> <img src="./assets/images/portfolio-dobierzfalownik-java.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>DobierzFalownik.pl</h3> <span>Back-End: Spring Boot 2, Spring Security, PostgreSQL, JWT, REST API</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc">
                <div class="project"> <img src="./assets/images/portfolio-poradyzakupowe-generator-java.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>PoradyZakupowe.pl</h3> <span>Back-End: Spring Boot 2, PostgreSQL, ThymeLeaf, REST API, GraphQL</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Przykładowe Realizacje</h3>
    <h2 class="mccan-title">Angular 8/9</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <a class="desc">
                <div class="project"> <img src="./assets/images/portfolio-poradyzakupowe-generator-angular.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>PoradyZakupowe.pl - Generatror Rankingów</h3> <span>Angular 9, Routing, API Client</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc">
                <div class="project"> <img src="./assets/images/portfolio-dobierzfalownik.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>DobierzFalownik.pl</h3> <span>Angular 9, Material Design, Routing, API Client, JWT</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc">
                <div class="project"> <img src="./assets/images/portfolio-dlew.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>DamianLew.pl</h3> <span>Angular 9</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider1"></div>
  <div class="mccan mccan-page">
    <h3 class="mccan-title-small">Przykładowe Realizacje</h3>
    <h2 class="mccan-title">Wordpress</h2>
    <div class="mccan-content">
      <div class="grid-container">
        <div class="grid-column">
          <div class="row">
            <div class="col-md-6">
              <a class="desc" routerLink="/poradyzakupowe-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-poradyzakupowe.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>PoradyZakupowe.pl</h3> <span>Wordpress, Avada Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc" routerLink="/mselektronik-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-mselektronik.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>MsElektronik.com.pl</h3> <span>Wordpress, Hueman Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc" routerLink="/pasko-autoserwis-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-pasko-autoserwis.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>Pasko-AutoSerwis.pl</h3> <span>Wordpress, Avada Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc" routerLink="/lgfalowniki-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-lgfalowniki.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>LgFalowniki.pl</h3> <span>Wordpress, Cre8or Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc" routerLink="/epoczta-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-epocztaonline.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>ePocztaOnline.pl</h3> <span>Wordpress, Hueman Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a class="desc" routerLink="/portaltechnologii-wordpress">
                <div class="project"> <img src="./assets/images/portfolio-portaltechnologii.png" class="img-fluid" alt="">
                  <div class="desc">
                    <div class="con">
                      <h3>PortalTechnologii.pl</h3> <span>Wordpress, TwentyTwenty Theme</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
