<div class="mccan-content-wrap">
  <div class="mccan mccan-page">
    <div class="mccan-content">
      <h3 class="mccan-title-small">WORDPRESS</h3>
      <h2 class="mccan-title">Pasko-AutoSerwis.pl</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="mccan-media">
                <img src="./assets/images/pasko-autoserwis-wordrpess-project-1.png" alt="">
              </div>
              <header class="mccan-header">
                <div class="excerpt">
                  <p>Strona serwisu blacharsko-lakierniczego.</p>
                  <br />
                  <div class="mccan-list">
                    <ul>
                      <li><strong>Projekt :</strong> Pasko-AutoSerwis.pl
                      <li><strong>Technologia :</strong> Wordpress</li>
                      <li><strong>Zrealizowane Prace :</strong>
                        <br/>- Wdożenie projektu w oparciu o szablon Avada,
                        <br/>- Optymalizacja SEO,
                      </li>
                      <li><strong>Live :</strong> http://pasko-autoserwis.pl</li>
                    </ul>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mccan-title-small">PASKO-AUTOSERWIS.PL</h3>
      <h2 class="mccan-title">Przykładowe Podstrony</h2>
      <div class="grid-container">
        <div class="grid-column">
          <div class="mccan-blog-listing">
            <div class="mccan-post">
              <div class="row">
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/pasko-autoserwis-wordrpess-project-2.png" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mccan-media">
                    <img src="./assets/images/pasko-autoserwis-wordrpess-project-3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
